.navbar {
    background-color: rgba(0, 0, 0, 0.705);
    padding: 50px;
    text-align: center;
    
}
.nav-link{
    color: white;
}

 .nav-link:hover{
    color: rgb(243, 71, 71);
 }

 .landing-container {
    background-color: antiquewhite;
    align-content: center;
    padding: 50px;
 }

 .header {
    font: normal;
    color: darkslateblue;
    margin: 50px;

 }

 .product-subtitle {
    text-size-adjust: 20px;
    color: rgb(63, 56, 56);
 }

 .hero-image {
   max-width: 50%;
   border-radius: 30px;
   margin-bottom: 50px;
   margin-left: 480px;
 }

 .hero-text {
   position: absolute;
   padding: 10px;
   top: 55%;
   bottom: 350px;
   left: 810px;
   background-color: black; opacity: 60%;
   color: white;
   border-radius: 5px;
 }

 .product-description {
   font-size: small;
   color: gray;
   margin-bottom: 50px;
 }

 .cta-button {
   background-color: rgb(39, 50, 207);
   color: white;
   border-radius: 30px;
 }

 .cta-button:hover{
   color: red;
 }

 .main-footer {
   background-color: orange;
   padding-top: 20px;
   padding-bottom: 20px;
   text-align: center;
   color: black;
 }
 .main-footer a:hover{
   color: white;
 }
